* {
	box-sizing: border-box;
}

body {
	padding-top: 70px;
}

div.checkbox-custom {
	position: relative;
	padding-left: 22px;

	width: 180px;
	margin: 15px auto;
}

input[type="checkbox"] {
	margin: 0;
	display: none;
}

input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	left: 0;
	background-color: #fcfcfc;
	border: 1px solid #c4c4c4;
	font-size: 19pt;
	width: 15px;
	height: 15px;
	line-height: 16px;
	color: white;
	text-align: center;
}

input[type="checkbox"] + label::before {
	border-radius: 4px;
	font-size: 8pt;
}

input[type="checkbox"]:checked + label::before {
	content: "\2714";
}

input.blue[type="checkbox"]:checked + label::before {
	background-color: #0069d9;
	border-color: #0069d9;
}

input.green[type="checkbox"]:checked + label::before {
	background-color: #11c90e;
	border-color: #11c90e;
}