* {
	box-sizing: border-box;
}

body {
	padding-top: 70px;
	background-color: #f2e3a7;
}

div.container {
	background-color: white;
	width: 380px;
	padding: 20px;
	margin: 120px auto;
	border-radius: 10px;
	box-shadow: 0 3px 12px rgba(0,0,0,.1);
}

div.radio-custom {
	position: relative;
	padding-left: 22px;

	margin: 15px 0px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	left: 0;
	background-color: #fcfcfc;
	border: 1px solid #c4c4c4;
	width: 15px;
	height: 15px;
	border-radius: 15px;
}

input[type="radio"]:checked + label::before {
	background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8"/></svg>');
	background-repeat: no-repeat;
  	background-size: 7px 7px;
  	background-position: center;
}

input.blue[type="radio"]:checked + label::before {
	background-color: #0069d9;
	border-color: #0069d9;
}

input.green[type="radio"]:checked + label::before {
	background-color: #11c90e;
	border-color: #11c90e;
}